BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "pin1" SITE "13" ;
LOCATE COMP "pin2" SITE "14" ;
LOCATE COMP "pin3_sn" SITE "16" ;
LOCATE COMP "pin4_mosi" SITE "17" ;
LOCATE COMP "pin5" SITE "20" ;
LOCATE COMP "pin6" SITE "21" ;
LOCATE COMP "pin7_done" SITE "23" ;
LOCATE COMP "pin8_pgmn" SITE "25" ;
LOCATE COMP "pin9_jtgnb" SITE "26" ;
LOCATE COMP "pin10_sda" SITE "27" ;
LOCATE COMP "pin11_scl" SITE "28" ;
LOCATE COMP "pin16" SITE "4" ;
LOCATE COMP "pin17" SITE "5" ;
LOCATE COMP "pin18_cs" SITE "8" ;
LOCATE COMP "pin19_sclk" SITE "9" ;
LOCATE COMP "pin20_miso" SITE "10" ;
LOCATE COMP "pin21" SITE "11" ;
LOCATE COMP "pin22" SITE "12" ;
